
<div>
  <div class="slds-page-header slds-m-top_medium">
    <div style="display:inline-flex">
      <img src="dxLogo.png" style="height: 40px;" class="align-center animated pulse"/>
      <div class="slds-text-heading_large slds-m-top_small slds-m-left_small align-center black">Gooey</div>
    </div>
  </div>
  <div class="slds-card slds-m-top_xx-small">
    <div class="slds-m-around_medium">
      <p class="slds-m-bottom_small slds-text-heading_medium black">Scratch Org Commands</p>
      <button class="slds-button slds-button_neutral slds-m-bottom_x-small" onclick="createNew()">Create New</button>
      <div>
        <button class="slds-button slds-button_brand slds-m-bottom_x-small" onclick="openOrg()">Open</button>
        <button class="slds-button slds-button_brand slds-m-bottom_x-small" onclick="update()">Update Org From Source</button>
        <button class="slds-button slds-button_brand slds-m-bottom_x-small" onclick="pull()">Save Changes to Source</button>
      </div>
  </div>
</div>

<link href="lightning.min.css" rel="stylesheet" type="text/css"/>
<link href="calvin.css" rel="stylesheet" type="text/css"/>
<link href="animate.css" rel="stylesheet" type="text/css"/>
<script src="dxgLogic.js"/>